// Login Page Configurations

.trampo-font{
    font-family: Dessau-Light;
}

.logo{
	width: 10em;
	height: 10em;
}

p {
    display: flex;
    align-items: flex-end ;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
 	background: transparent !important;
}

tr {
	color: white; 
}

.item-ios, .item-md {
  background: transparent;
}

.foot-note {
	opacity: 0.5;
	color: black;
}