page-login {
    font-family: Dessau-Light;
    
    a {
        margin:1em;
    }
    
    p {
        display: flex;
        align-items: flex-end ;
        flex-direction: column;

        margin: 0.2em;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    tr {
        color: white; 
    }

    .item.error-message {
        color: red;
    }

    .foot-note {
        opacity: 0.5;
        color: black;
        font-size: 11px;
    }

    .item-ios, .item-md {
      background: transparent;
    }
   
}