page-home {
    font-family: Dessau-Light;

    ion-header.home-header {
        font-weight: bold;  

        display: flex;
        align-items: center;
        flex-direction: column;

        color:  black;
        background: #EFEEF4;
    }

    ion-content.home-content {      
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent !important;
    }

    h5 {
        font-weight: bold;  
    }

    p {
        font-size: 1em;
        align-items: left;
    }

    button.logout {
        width: 110px;
        height: 25px;

        font-size: 12px;
        font-weight: bold;  
    }

}


