page-cadastro-fornecedor {
    font-family: Dessau-Light;

    ion-header.cadastro-fornecedor-header {
        font-weight: bold;  

        display: flex;
        flex-direction: column;
        align-items: center;

        color:  black;
        background: #EFEEF4;
    }

    ion-content.cadastro-fornecedor-content {        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 1em;
    }

    h5 {
        font-weight: bold;  
    }
    
    .item.error-message {
        color: red;
    }

    button.especialidades {
        margin-left: 2em;
    }

    button {
        margin: 2em;
    }

    .item-ios, .item-md {
        background: transparent;
    }
}